<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home</h1>
    <h2><a href="{% url 'gamgi' %}">월별 감기 진료정보</a></h2>
    <h2><a href="{% url 'gamgi_new' %}">월별.연도별 감기 진료정보</a></h2>
    <h2><a href="{% url 'chunsik' %}">월별 천식 진료정보</a></h2>
    <h2><a href="{% url 'smartwork' %}">원격근무 경험</a></h2>
    <h2><a href="{% url 'hospital' %}">연도별 병원 인허가수</a></h2>
    <h2><a href="{% url 'hospital_m' %}">월별 병원 인허가수</a></h2>
    <h2><a href="{% url 'hospital_h' %}">연도별 휴업병원수</a></h2>
    <h2><a href="{% url 'hospital_p' %}">연도별 폐업병원수</a></h2>
    <h2><a href="{% url 'hospital_pm' %}">월별 폐업병원수</a></h2>
</body>
</html>